<br /><br />
<h2>
  <p style="text-align: center;"> Agendamentos </p>
</h2> <br /><br />
<mat-card>
  <div *ngIf="agendas$ |async as agendas ; else carregando">

    <mat-grid-list cols="3" rowHeight="250px" gutterSize="5px">

      <mat-grid-tile *ngFor="let agenda of agendas">
        <mat-card class="my-card">
          <mat-card-title> {{ agenda.dataAgendamentoFormatada }}</mat-card-title>
          <mat-card-content></mat-card-content>
          <mat-card-content>Nome: {{ agenda.nomeCliente }}</mat-card-content>
          <mat-card-content>Telefone: {{ agenda.telefoneCliente }}</mat-card-content>
          <mat-card-content>Celular: {{ agenda.celularCliente }}</mat-card-content>
          <mat-card-content>E-mail: {{ agenda.emailCliente }}</mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <ng-template #carregando>
    <div class="carregando-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</mat-card>